/* PROPRIEDADE DISPLAY

Para o CSS todo elemento HTML é uma caixinha retangular, e o display serve para definir como essa caixinha ira se comportar em uma pagina

block - quando um elemento é display block, quer dizer que ele ira ocupar uma linha inteira da pagina, agluns exemplos de elementos que já vem com esse padrão, são as tags div e p
display: block;

inline - quando um elemento é display inline, quer dizer que ele ira ocupar o espaço somente referente a o conteudo que tem dentro dele, agluns exemplos de elementos que já vem com esse padrão, são as tags span, em e b
É importante atentarmos que quando o elemento for display inline, ele não ira obedecer os atributos width e height e os atributos margin e padding irão funcionar somente no eixo vertical
display: inline;

inline block - quando um elemento é display inline-block, quer dizer que ele ira ocupar o espaço somente referente a o conteudo que tem dentro dele, porem diferente do inline ele obedece aos atributos width e height e a os atributos margin e padding
display: inline-block;
*/

/* ESCONDENDO ELEMENTOS

none - quando precisamos esconder elementos da nossa pagina, podemos utilizar o display none, porem vale lembrar que ele é escondido apenas visualmente, pois ele continuara aparecendo no dom
display: none;

hidden - quando precisamos esconder elementos da nossa pagina, tambem podemos utilizar o visibility hiddem, porem a grande diferença entre ele e o none, é que o hidden esconde o elemento mas mantem o espaço dele na tela
visibility: hidden;
*/

/* ALINHAMENTO DE ELEMENTOS INLINE

Horizontal - Para alinhar elementos inline na horizontal, podemos utilizar o atributo text-align
text-align: center;

Vertical - Para alinhar elementos inline na vertical, podemos utilizar o atributo vertical-align, este atributo aceita alguns valores como top, botton, middle(utilizado para centralizar), baseline(semelhante ao botton, pos faz o alinhamento inferior, porem no caso de textos ele deixa as pernas de algumas letras como p a baixo da linha), text-bottom (igual ao bottom, alinhamento inferior e respeita as pernas que algumas letras possuem), text-top (igual ao top), sub (alinha sobre a linha), super (alinha acima da linha superior)
vertical-align: top